.basic {
    padding: var(--dimension-1) var(--dimension-3);

    cursor: pointer;

    width: fit-content;

    border-radius: var(--radius-1);
}


.cta {

    background-color: var(--color-golden-3);

    color: var(--color-white-1);
}


.plain {
    border: 1px solid var(--color-border);

    padding: var(--dimension-1) var(--dimension-3);

    background-color: var(--color-foreground);

    cursor: pointer;

    width: fit-content;
}