.container {
    padding: var(--spacing-section-l) var(--spacing-global);

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: var(--dimension-6);

    color: var(--color-text);
    background-color: var(--color-background);

    border-top: 1px solid var(--color-border);
}

.subscriptionContainer {
    display: flex;
    gap: var(--dimension-3);
    flex-direction: column;

    max-width: var(--max-width-s);
}

.linksContainer {
    display: flex;
    gap: var(--dimension-5);
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%; /*remove when subscription box is added*/
}

.categoryContainer {
    display: flex;
    gap: var(--dimension-3);
    flex-direction: column;
}

.linkSubContainer {
    display: flex;
    gap: var(--dimension-2);
    flex-direction: column;
}

.imageLinkContainer {
    display: flex;
    gap: var(--dimension-1);
    flex-direction: row;
    align-items: center;
}

.imageLink {
    width: var(--dimension-3);
    height: var(--dimension-3);

    fill: var(--color-text);
}


@media screen and (min-width: 480px) {

    .container {
        flex-direction: row;
        justify-content: space-between;
    }

    .linksContainer {
        flex-direction: row;
    }
}
