.container {
    max-width: var(--max-width-xs);

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--dimension-2);

    div {
        p {
            text-align: center;
        }
    }
}


.avatar {
    border-radius: 50%;
}

.review {
    text-align: center;
}