/*HERO SECTION 3*/

.HeroSection3 {
    padding: var(--spacing-global) var(--spacing-section-l);
}

.HeroSection3SubContainer {
    display: flex;
    flex-direction: column;
    align-items: center;

    text-align: center;

    padding: 0 var(--dimension-4);

    gap: var(--dimension-4);
}


/*REAL RESULTS SECTION*/


/*#####################*/
/*# HERO SECTION - 2 #*/
/*#####################*/

.HerSection2BigText {
    color: var(--color-text);
    font-size: var(--dimension-10);
    font-weight: 700;
}

.statsCard {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: var(--dimension-1);

    padding-left: var(--dimension-4);
    border-left: 1px solid var(--color-border);
    max-width: var(--max-width-xxs);
}

.statsCardsContainer {
    display: flex;
    flex-direction: column;
    gap: var(--dimension-4);
}

@media screen and (min-width: 480px) {
    .statsCardsContainer {
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        justify-content: space-between;
    }
}

.rowFlexContainer {
    display: flex;
    flex-direction: column;
    gap: var(--dimension-4);
}

@media screen and (min-width: 480px) {
    .rowFlexContainer {
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        justify-content: center;
    }
}

/*HERO SECTION*/

.HeroSectionImages {
    height: var(--dimension-6);
    width: var(--dimension-6);
    fill: var(--color-text)
}


/*QUESTIONS SECTION*/

.questionSectionBottonContainer {
    display: flex;
    flex-direction: column;
    gap: var(--dimension-3);
    align-items: center;
}

.xxlContainer {
    max-width: var(--max-width-xxl);
}

.paddedContainer {
    padding: var(--spacing-section-l) var(--spacing-global);
    background-color: var(--color-background);
}

.statsTitleContainer {
    display: flex;
    flex-direction: column;
    gap: var(--dimension-2);
    text-align: center;
    width: 100%;
    align-items: center;
}

@media screen and (min-width: 1190px) {
    .statsTitleContainer {
        flex-direction: row;
        text-align: left;
        justify-content: space-between;
    }
}

.statTitleSubContainer {
    display: flex;
    gap: var(--dimension-2);
    flex-direction: column;
    max-width: var(--max-width-s);
}

.columnFlexContainer {
    display: flex;
    flex-direction: column;
    gap: var(--dimension-5);
    align-items: center;
    text-align: center;

    width: 100%;
    margin: auto;
}

@media screen and (min-width: 480px) {
    .columnFlexContainer {
        gap: var(--dimension-10);
    }
}

.borderedContainer {
    border: 1px solid var(--color-border);
    border-radius: var(--radius-1);
    padding: var(--dimension-2);

}

.dottedBackground {
    background-image: url("../../public/background_image_pattern.svg")
}

.herSectionTextContainer {
    max-width: var(--max-width-l);

    @media screen and (min-width: 480px) {
        padding-top: 176px;
        padding-bottom: 176px;
    }
}
